- name: Provision mariadb
  hosts: localhost
  gather_facts: false
  connection: local

  vars:
    namespace: openstack
{% if coe == 'kubernetes' %}
    coe_host: "http://localhost:8080"
{% endif %}

  roles:
    - role: {{project_name}}
      playbook_debug: false
