- name: Prepare COE cluster
  hosts: localhost
  gather_facts: false
  connection: local

  vars:
    namespace: openstack
    service_account: default
{% if coe == 'kubernetes' %}
    coe_host: "http://localhost:8080"
{% endif %}

  roles:
    - role: ansible.kubernetes-modules
      install_python_requirements: no

  tasks:
    - name: Create OpenStack specific roles
      k8s_v1alpha1_role:
        host: "{%raw%}{{coe_host}}{%endraw%}"
        name: openstack-role
        namespace: "{%raw%}{{namespace}}{%endraw%}"
        state: present
        rules:
          - apiGroups: [""] # "" indicates the core API group
            resources: ["secrets"]
            verbs: ["get", "watch", "update", "delete", "list"]

    - name: Create OpenStack role binding
      k8s_v1alpha1_role_binding:
        host: "{%raw%}{{coe_host}}{%endraw%}"
        name: openstack-role
        namespace: "{%raw%}{{namespace}}{%endraw%}"
        state: present
        role_ref_kind: Role
        role_ref_name: openstack-role
        role_ref_api_group: rbac.authorization.k8s.io
        subjects:
        - kind: ServiceAccount
          name: "{%raw%}{{service_account}}{%endraw%}"

    - name: Create test PV
      k8s_v1_persistent_volume:
        host: "{%raw%}{{coe_host}}{%endraw%}"
        name: "hostpath-pv"
        state: present
        access_modes:
          - ReadWriteMany
        persistent_volume_reclaim_policy: Recycle
        storage_class_name: slow
        host_path_path: /tmp

- name: Provision {{project_name}}
  hosts: localhost
  gather_facts: false
  connection: local

  vars:
    namespace: openstack
{% if coe == 'kubernetes' %}
    coe_host: "http://localhost:8080"
{% endif %}

  roles:
{% for dep in ansible_role_k8s_required|default('', true) %}
    - role: {{dep}}
      playbook_debug: false
{% endfor %}
    - role: {{project_name}}
      playbook_debug: false

  tasks:
    - include: "{% raw %}{{ item }}{% endraw %}"
      with_first_found:
        - files:
            - '{{ ansible_env.HOME }}/{{ zuul.project.src_dir }}/tests/tests.yml'
          skip: true
