- name: Provision {{project_name}}
  hosts: localhost
  gather_facts: false
  connection: local

  vars:
    namespace: openstack
{% if coe == 'kubernetes' %}
    coe_host: "http://localhost:8080"
{% endif %}

  roles:
{% for dep in ansible_role_k8s_required|default('', true) %}
    - role: {{dep}}
      playbook_debug: false
{% endfor %}
    - role: {{project_name}}
      playbook_debug: false

  tasks:
    - name: Call netchecker
      shell:
        cmd: |
          set -eux
          curl http://localhost:31081/api/v1/connectivity_check
        executable: /bin/bash
      register: netchecker
      ignore_errors: yes

    - include: "{% raw %}{{ item }}{% endraw %}"
      with_first_found:
        - files:
            - '{{ ansible_env.HOME }}/{{ zuul.project.src_dir }}/tests/tests.yml'
          skip: true
